.modal-container {
  position: fixed;
  height: 210px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -120px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid black;
}

.modal-header {
  background-color: purple;
  height: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 16px;
}

.modal-text {
  background-color: white;
  padding: 16px;
}

.continue-button-container {
  background-color: white;
  position: relative;
  left: 350px;
  top: 50px;
}
